#s-1e03caab-52bd-4cdd-999c-bc564ae9616b > #backgroundBox {
  background-color: #F4EDE5;
  position: absolute;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Image_1 {
  position: absolute;
  width: 401.0000000000001px;
  height: 247.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Image_1 {
  box-shadow: none;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_1 {
  box-shadow: none;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_2 {
  box-shadow: none;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_3 {
  box-shadow: none;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_3 span {
  color: #C88CB7;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #C88CB7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 {
  position: absolute;
  width: 221.3447265625001px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 2.5px #74A5BC);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 {
  box-shadow: 7.071067811865475px 7.0710678118654755px 5px 0px #74A5BC;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FF6E04 0.001%, #DDE015 99.99999999999996%);
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 {
  position: absolute;
  width: 221.3447265625001px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 2.5px #BF93C1);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 {
  box-shadow: 7.071067811865475px 7.0710678118654755px 5px 0px #BF93C1;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #BE1842 0.001%, #AF5D83 99.99999999999996%);
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-1e03caab-52bd-4cdd-999c-bc564ae9616b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
