#s-8f619c36-0486-469a-81d4-778d4678f9cc > #backgroundBox {
  position: absolute;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Bg-white {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0349048128745672px 1.9996953903127825px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Bg-white {
  box-shadow: -0.0349048128745672px 1.9996953903127825px 5px 0px #999999;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Bg-white > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Bg-white .paddingLayer:first-child {
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 70px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Bg-white .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Bg-white span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 20px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Bg-white span#rtr-s-Bg-white_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 20px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-User_info {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Content {
  width: 100.0%;
  height: 565.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Content {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Content td.layout {
  padding: 0px 0px 0px 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Content > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Content .verticalalign {
  vertical-align: top;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_2 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_2 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_2 span#rtr-s-Line_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_7 {
  position: absolute;
  width: 100.0%;
  min-height: 65.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_7 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_7 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 65px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_7 span#rtr-s-Two-line-item_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_8 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_8 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_8 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_8 span#rtr-s-Line_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_1 {
  position: absolute;
  width: 360.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_1 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Label_name_2 {
  position: absolute;
  width: 228.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Label_name_2 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Label_name_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Label_name_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Label_name_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Label_name_2 span#rtr-s-Label_name_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_10 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_10 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_10 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_10 span#rtr-s-Line_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_9 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_9 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_9 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_9 span#rtr-s-Line_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 {
  position: absolute;
  width: 100.0%;
  min-height: 65.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 65px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 span#rtr-s-Two-line-item_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_1 span#rtr-s-Two-line-item_1_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-phone_1 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-phone_1 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 {
  position: absolute;
  width: 100.0%;
  min-height: 65.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 65px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 span#rtr-s-Two-line-item_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_5 span#rtr-s-Two-line-item_5_1 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Image_126 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Image_126 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_6 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_6 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_6 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_6 span#rtr-s-Line_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_2 {
  position: absolute;
  width: 360.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_2 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_2 {
  position: absolute;
  width: 100.0%;
  min-height: 65.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_2 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_2 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 65px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_2 span#rtr-s-Two-line-item_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-phone_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-phone_2 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Button_1 {
  position: absolute;
  width: 66.0px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Button_1 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_6 {
  position: absolute;
  width: 100.0%;
  min-height: 65.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Thin',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_6 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_6 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 65px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Two-line-item_6 span#rtr-s-Two-line-item_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Image_36 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Image_36 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_7 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_7 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_7 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Line_7 span#rtr-s-Line_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Image {
  position: absolute;
  width: 350.0000000000002px;
  height: 200.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Image {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-dots_menu_1 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-dots_menu_1 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-arrow-back_1 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-arrow-back_1 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Paragraph_1 {
  box-shadow: none;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-8f619c36-0486-469a-81d4-778d4678f9cc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
